.product-container {
  height: 380px;

  box-shadow: 3px 3px 11px gray;
  background: gray(209, 209, 209, 0.3);
  text-align: justify;
  text-justify: inter-word;
  padding: 10px;
  margin: 0px 10px;
  margin-bottom: 20px;
}

.product-container img {
  width: 100%;
  height: 170px;
  display: block;
  margin: auto;
}
