.notfound-button-style {
  display: block;
  background-color: rgb(156, 90, 147);
  border-radius: 8px;
  border: 2px solid white;
  text-decoration: none;
  width: 15%;

  margin-left: auto;
  margin-right: auto;

  font-weight: 600;
  color: white;
  line-height: 40px;
  margin-top: 25px;
  margin-bottom: 35px;
  text-align: center;
}
.notfound-head-text {
  font-size: 80px;
  margin-top: 50px;
  color: rgb(51, 5, 95);
}

.notfound-middle-text {
  font-size: 60px;
  margin-top: 20px;
  color: rgb(51, 5, 95);
}
@media only screen and (max-width: 600px) {
  .notfound-button-style {
    width: 35%;
    font-size: small;
  }
}
